.form {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  height: 40px;
  line-height: 40px;
}

.form input {
  flex-grow: 1;
  font-size: 20px;
  padding: 3px;
  border: 2px solid #f81548;
  border-radius: 18px;
  background: #791214;
  }

.form input:focus {
  background: #e76b55;
}

.form button {
  width: 120px;
  line-height: 40px;
  font-size: 20px;
  background: #ef802f;
  border: 8px solid #11182e;
  border-radius: 18px;
  color: #151729;
  line-height: 10px;
}
